{% extends "base2.html" %}

{% block title %} Políticas de privacidade {% endblock %}

{% block cabecalho %}
<h1> Políticas de privacidade </h1>
{% endblock %}

{% block texto %}Para utilizar os serviços da Biblioteca Central de Metropolis, você precisa se cadastrar no nosso sistema. Você pode
fazer isso visitando a biblioteca pessoalmente ou acessando nosso site para preencher o formulário de cadastro. Após o
registro, você receberá um número de associado e uma senha para acessar sua conta online.

Para emprestar livros, procure o título desejado no catálogo disponível em nosso site ou em nossas instalações.
Apresente-se na recepção com seu cartão de associado para realizar o empréstimo. Lembre-se de devolver os livros até a
data de vencimento especificada para evitar multas.

Se o livro que você deseja está emprestado, você pode fazer uma reserva através do nosso site ou na biblioteca. Quando o
livro estiver disponível, você receberá uma notificação para retirá-lo. As reservas são mantidas por um período
determinado, então é importante retirar o livro o quanto antes.

O nosso catálogo de livros está disponível tanto online quanto nas instalações da biblioteca. Você pode pesquisar por
título, autor ou gênero para encontrar livros de seu interesse. Utilize a ferramenta de busca no nosso site ou peça
assistência aos nossos funcionários se precisar de ajuda.

A Biblioteca Central de Metropolis também oferece uma variedade de eventos e atividades, como clubes do livro, workshops
e palestras. Confira nosso calendário de eventos no site ou visite-nos para obter mais informações sobre como
participar.
{% endblock %}

