{% extends "base1.html" %}

{% block title %} Página inicial {% endblock %}


{% block content %}

<center>
    <div class="titulo">
        <h1>Página inicial</h1>
        <h3>Seja bem vind@!</h3>
    </div>

    <div class="container">
        
        <img src="../static/imagens/4.PNG" alt="" width="300px" height="300px">

        <p>Descubra o Mundo dos Livros na Nossa Biblioteca!

            Bem-vindo à nossa vitrine literária, onde o conhecimento e a imaginação se encontram. Em nossa biblioteca,
            você encontrará uma seleção diversificada de livros para todos os gostos e idades. Desde romances
            envolventes até guias informativos e clássicos eternos, temos algo para todos.

            Explore nossas seções temáticas e deixe-se inspirar por novas histórias e ideias. Nossa equipe está sempre à
            disposição para ajudá-lo a encontrar o livro perfeito. Venha nos visitar e mergulhe no universo fascinante
            da leitura!</p>
    </div>
</center>
{% endblock %}