{% extends "base2.html" %}

{% block title %} Políticas de privacidade {% endblock %}

{% block cabecalho %}
<h1> Políticas de privacidade </h1>
{% endblock %}

{% block texto %}
Última atualização: 2 de agosto de 2024

Na Biblioteca Central de Metropolis, a privacidade e a proteção de seus dados são muito importantes para nós. Esta
Política de Privacidade descreve como coletamos, usamos e protegemos suas informações pessoais.

Podemos coletar as seguintes informações pessoais: dados de identificação como nome, endereço, e-mail e número de
telefone; dados de empréstimos e reservas, que incluem informações sobre os livros que você empresta ou reserva; e dados
de navegação, como informações sobre como você usa nosso site, endereços IP e cookies.

Utilizamos suas informações para gerenciar empréstimos e reservas, processando e acompanhando seus pedidos; para
comunicação, informando-o sobre prazos, renovação de empréstimos, eventos e outras atualizações relacionadas à
biblioteca; e para melhorar nossos serviços, entendendo como você utiliza nossos serviços e aprimorando nossa oferta.

Não compartilhamos suas informações pessoais com terceiros, exceto para cumprir a lei ou proteger nossos direitos
legais. Também podemos compartilhar informações com prestadores de serviços, como provedores de serviços de TI, que
devem manter a confidencialidade das informações.

Implementamos medidas de segurança adequadas para proteger suas informações pessoais contra acesso não autorizado,
divulgação, alteração ou destruição. No entanto, nenhuma transmissão de dados pela internet é completamente segura, e
não podemos garantir segurança absoluta.

Você tem o direito de acessar, atualizar ou corrigir suas informações pessoais. Também pode solicitar a exclusão de suas
informações pessoais, sujeitas a certas restrições legais.

Podemos atualizar esta Política de Privacidade ocasionalmente. Recomendamos que você revise esta política periodicamente
para estar ciente de quaisquer alterações.

Se você tiver dúvidas sobre nossa Política de Privacidade ou sobre como suas informações pessoais são tratadas, entre em
contato conosco pelo e-mail contato@bibliotecacentralmetropolis.com ou pelo telefone (11) 98765-4321. Nossa biblioteca
está localizada na Rua da Cultura, 123, Metropolis, SP, 01234-567.
{% endblock %}