{% extends "base1.html" %}

{% block title %} Produtos {% endblock %}

{% block content %}
<h1>Produtos</h1>

{% if produtos %}
    {% for produto in produtos %}
        <div class="produto">
            <h3> Nome: {{ produto.nome }}</h3>
            <h3> Genero: {{ produto.genero }}</h3>
            <h3>Autora: {{ produto.autor }}</h3>
            <img 
            src="{{ url_for('static', filename='imagens/' + produto.img + '.PNG') }}" 
            width="300px" 
            alt="{{ produto.nome }}" 
            id="f1" 
            class="foto-produto"
        >
        </div>
    {% endfor %}
{% else %}
    <h2>Nenhum produto cadastrado</h2>
{% endif %}
{% endblock %}
