{% extends "base2.html" %}

{% block title %} Termos de uso {% endblock %}

{% block cabecalho %}
<h1> Termos de uso </h1>
{% endblock %}

{% block texto %}
Última atualização: 2 de agosto de 2024

Bem-vindo à Biblioteca Central de Metropolis. Ao utilizar nossos serviços, você concorda com os seguintes Termos de Uso.
Se não concordar com algum dos termos, por favor, não utilize nossos serviços.

Ao acessar e utilizar os serviços da Biblioteca Central de Metropolis, você concorda com estes Termos de Uso e com todas
as políticas e diretrizes aplicáveis. Reservamo-nos o direito de atualizar ou modificar estes termos a qualquer momento,
e sua continuidade no uso dos nossos serviços após tais alterações implicará na aceitação das mudanças.

Você concorda em utilizar nossos serviços de maneira legal e responsável, em conformidade com todas as leis e
regulamentos aplicáveis. É proibido utilizar nossos serviços para fins ilegais ou não autorizados, transmitir ou
disseminar material que seja ofensivo, difamatório, ameaçador ou que infrinja direitos de terceiros, e usar informações
obtidas através de nossos serviços para enviar spam ou mensagens não solicitadas.

Para emprestar ou reservar livros, você deve estar cadastrado na biblioteca e fornecer informações precisas. Respeite os
prazos de devolução estabelecidos. O não cumprimento pode resultar em multas ou na suspensão temporária do seu cadastro.
Você é responsável pela devolução dos livros em bom estado. Livros danificados ou perdidos estarão sujeitos a taxas de
substituição.

Todo o conteúdo disponível em nosso site, incluindo textos, imagens e gráficos, é propriedade da Biblioteca Central de
Metropolis ou de terceiros e está protegido por leis de propriedade intelectual. Não é permitido reproduzir, distribuir
ou modificar qualquer material sem autorização expressa.

A Biblioteca Central de Metropolis não se responsabiliza por qualquer dano ou perda decorrente do uso dos nossos
serviços, incluindo, mas não se limitando a, perda de dados, interrupções de serviço ou danos a equipamentos. Nossos
serviços são oferecidos no estado em que se encontram, sem garantias de qualquer tipo.

Podemos alterar ou interromper nossos serviços a qualquer momento, sem aviso prévio. Também podemos encerrar ou
suspender seu acesso aos nossos serviços em caso de violação destes Termos de Uso ou de outras políticas da biblioteca.
{% endblock %}